*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "federo_regular";
    src: url('./assets/fonts/Federo-Regular.ttf');
} 

@font-face {
    font-family: "opensans-medium";
    src: url('./assets/fonts/OpenSans-Medium.ttf');
}